page-home {
    .home-caption {
        margin-bottom: 20px;
        img {
            width: 100%;
        }
    }

    .section {
        text-align: center;
        img {
            width: 60px;
            height: 60px;
            border: 0;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            // -o-border-radius: 30px;
            -ms-border-radius: 30px;
            -moz-border-radius: 30px; 
        }
    }
}
