page-setting {
    .setting-caption {
        background-color: rgb(227,111,0);
        text-align: center;
        padding: 40px 0 10px 0;
        img {
            width: 64px;
            height: 64px;
        }

        p {
            color: white;
        }
    }
}
